@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.2/css/all.min.css");
:root {
  --btcol: #b7f5ff;
  --cardcol: #658ec6;
  --percol: #65dfc9;
}
.change {
  --btcol: #000000;
  --cardcol: #1d2024;
  --percol: #3c4947;
}

h3,
h4,
h5 {
  color: var(--cardcol);
}
button {
  background: transparent;
  border-color: transparent;
}
button:hover {
  cursor: pointer;
  background-color: var(--btcol);
}

main {
  font-family: "Poppins", sans-serif;
  min-height: 100vh;
  background: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
}

.glass {
  min-height: auto;
  width: 60%;
  background: linear-gradient(
    to right bottom,
    rgba(255, 255, 255, 0.7),
    rgba(255, 255, 255, 0.3)
  );
  border-radius: 2rem;
  z-index: 2;
  backdrop-filter: blur(2rem);
  display: flex;
}

.dashboard {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  text-align: center;
  background: linear-gradient(
    to right bottom,
    rgba(255, 255, 255, 0.7),
    rgba(255, 255, 255, 0.3)
  );
  border-radius: 2rem;
}
.link {
  display: flex;
  margin: 0.5rem 2rem;
  padding: 1rem 2rem;
  align-items: center;
}

.games {
  flex: 1.3;
  margin: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.card {
  display: flex;
  background: linear-gradient(
    to left top,
    rgba(255, 255, 255, 0.8),
    rgba(255, 255, 255, 0.5)
  );
  border-radius: 1rem;
  margin: 0.5rem 0rem;
  padding: 0.6rem;
  box-shadow: 6px 6px 20px rgba(122, 122, 122, 0.212);
  justify-content: space-between;
}
.card-info {
  align-self: center;
  color: var(--cardcol);
  font-weight: 300;
  opacity: 0.8;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.percentage {
  align-self: center;
  font-weight: bold;
  background: var(--percol);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
@media only screen and (max-width: 900px) {
  .games {
    display: none;
  }
}
