body {
  margin: 0;
  padding: 0;
  background: black;
  color: #fc5866;
  user-select: none;
}
.IshanSingla > h1 {
  font-size: 2.75rem;
  font-weight: bolder;
  text-align: center;
  margin: 0;
  font-family: "Product Sans", sans-serif;
  padding: 0;
  color: #ededed;
  text-decoration: underline;
}
.IshanSingla > div {
  margin-left: 5rem;
}
code,
.IshanSingla > div > pre {
  margin-right: 3.06em;
  overflow: hidden;
  user-select: text;
}
span#reqType {
  color: plum;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}
.IshanSingla > div> h2 {
  font-weight: bold;
  color: white;
  font-size: 4rem;
  font-family: "Product Sans", sans-serif;
}
.IshanSingla > div > ul > li > a, .IshanSingla > div > ul > li > a:active {
  color: rgb(126, 223, 223);
  text-decoration: none;
  font-size: 1.5em;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
.IshanSingla > div > ul {
  list-style: none;
}
.IshanSingla > div > ul > li:before {
  content: "•";
  font-size: 175%;
  padding-right: 1.5rem;
}
.IshanSingla > footer {
  bottom: 0;
  left: 0;
  width: 100%;
  height: 48px;
  font-size: 1.5rem;
  text-align: center;
  color: #ededed;
  font-family: "Product Sans", sans-serif;
}
code::selection,
code span::selection {
  background: rgba(186, 255, 255, 0.253);
}
.IshanSingla >div> .fileName {
  text-align: center;
  font-size: 1.5rem;
  font-family: "Product Sans", sans-serif;
  background-color: #282b2e;
  margin-right: 5rem;
  margin-left: 0;
  margin-top: 0.5rem;
  padding-top: 5px;
  color: palegreen;
}
.IshanSingla > div > pre {
  margin-top: 0;
}
.IshanSingla >div> div>button , .IshanSingla >div> button {
  background: #2e2e2e;
  color: whitesmoke;
  border: none;
  border-radius: 2.5px;
  padding: 0.5rem;
  font-size: 1rem;
  font-family: "Product Sans", sans-serif;
}

@media only screen and (max-width: 770px) {
    .IshanSingla > div {
    margin-left: 15px;
  }
  .IshanSingla > code,
  .IshanSingla >div> .fileName {
    margin-right: 15px;
    overflow: scroll;
  }
  .IshanSingla > div > pre {
    margin-right: auto;
    overflow: scroll;
  }
  .IshanSingla > div> h2 {
    font-size: 1.5rem;
  }
  .IshanSingla > div > ul > li > a,
  .IshanSingla > div > ul > li > a:active {
    font-size: 1rem;
  }
}
